.App{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: blueviolet;
  color: aliceblue;
  border-radius: 15px;
  width: 350px;
}

.card h1{
  text-align: center;
}

.card ul{
  list-style: none;
}